{% extends 'helpdesk/base.html' %}
{% block content %}
{% load task_tags %}
<div class="comments_headline" style="text-align:center;">
<h1>{{ task.title }} <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'home_page' %}'">Powrót</button></h1>

<p><b>Minęło: {{ task.created_at|timesince:a_time }}</b></p>
<p>
    <span class="badge bg-{{statuses|get_item:task.status}}">{{ task.status }}</span>
</p>
<p>{{ task.desc }} </p>
</div>

<div class="comments_container" style="text-align:center;">
    <h3>Komentarze:</h3>
{% for comment in comments_list %}
    <div class="comment">
        <table>
            <td style="border:0px; text-align:right;">
            <h6 style="text-align:left;"><b>{{ comment.author }}</b>&nbsp;({{ comment.created_at|date:"d-m-Y H:i" }}) <a class="fa fa-trash" href="{% url 'deletecomment_page' pk=task.id comm_pk=comment.id %}"></a></h6>
            {% if comment.picture_set.get.file.url %}
                <a class="img-preview-box" target="_blank" href="{{ comment.picture_set.get.file }}">
                    <img class="img-preview" src="{{ comment.picture_set.get.file }}" alt="Forest">
                </a>
            {% endif %}
            {{ comment.text|linebreaks }}
            </td>
        </table>
    </div>
{% endfor %}
</div>

<form action='' method="POST" style="text-align:center; margin-top:10px;" enctype="multipart/form-data">
    {% csrf_token %}
    {{ comment_form.as_p }}
    {{ picture_form.as_p }}
    <button type="submit" class="btn btn-primary" value="Wyślij">Wyślij</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'home_page' %}'">Powrót</button>
</form>

{% endblock %}