{% extends 'helpdesk/base.html' %}
{% block content %}

<h1>{{ task.title }}</h1>
<p><b>Minęło: {{ task.created_at|timesince:a_time }}</b></p>
<p>{{ task.desc }}</p>

<form action='postcomment' method="POST">
{% csrf_token %}
{{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary" value="Wyślij" onclick="location.href='{% url 'postcomment_page' pk=task.id %}'">Wyślij</button>
</form>

<button type="button" class="btn btn-secondary" onclick="location.href='{% url 'home_page' %}'">Powrót</button>
{% endblock %}