{% extends 'helpdesk/base.html' %}
{% block content %}
{% load static %}
{% load task_tags %}
{% for task in task_list %}
    {% if forloop.counter|divisibleby:2 %}
        <div class="job-content" style="margin-top:0.5rem; background-color: #e2e2e2">
    {% else %}
        <div class="job-content" style="margin-top:0.5rem; background-color: #cff1ff">
    {% endif %}

    <h5 class="text-center text-md-left">{{ task.title }}</h5>
        <ul class="d-sm-flex flex-wrap text-capitalize ff-open-sans" style="height:0.75rem;">
            <li class="mr-sm-4">
                <p class="zmdi zmdi-pin mr-2">Autor: {{ task.author }}</p>
            </li>
            <li class="mr-sm-4">
                <i class="zmdi zmdi-money mr-2"></i> Priorytet: {{ task.priority }}
            </li>
            <li class="mr-sm-4">
                <i class="zmdi zmdi-time mr-2"></i> Stworzono: {{ task.created_at|date:"d-m-Y H:i" }}
            </li>
            <li class="mr-sm-4">
                <i class="zmdi zmdi-time mr-2"></i> Zaktualizowano: {{ task.updated_at|date:"d-m-Y H:i" }}
            </li>
            <li class="mr-sm-4">
                <i class="zmdi zmdi-time mr-2"></i> Minęło: {{ task.created_at|timesince:a_time }}
            </li>
            <li>
                <a class="fa fa-magnifying-glass fa-lg" href="{% url 'taskdetails_page' pk=task.id %}"></a>
            </li>
        </ul>
        <ul>
            <li>
                <span class="badge bg-{{statuses|get_item:task.status}}">{{ task.status }}</span></h5>
            </li>
        </ul>
        </ul>

</div>
{% endfor %}
{% endblock %}